<h1>Stupid Coaching</h1>

<% if @user_question.present? %>
  <div class="question-box">
    <p><%= @user_question %></p>
    <p>-You</p>
  </div>
  <div class="coach-box">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
<% end %>


<%= link_to "Ask a new question", ask_path %>
