<h1>Stupid Coaching</h1>

<form action = "/answer" method = "get">
  <P>Ask your coach anything:</p>
  <input type = "text" name="question" placeholder="What is your question?" <%= value = params[:question]%>%>
  <input type = "submit" value="Ask" >
</form>
